<h1>Root#index</h1>

email: <h1><%=@sigin_email %></h1>
firstName<h1><%=@sigin_firstname %></h1>
LastName <h1><%=@sigin_lastname %></h1>

<br>
<br>
<br>
Event Found <h1><%=@eventFound %></h1>
<!--<br>-->
<!--<br>-->
<!--User Found <h1><%#=@userFound %></h1>-->

